input[type=text] {
    border: 3px solid orangered;
}

input[type=password] {
    border: 3px solid blue;
}

input[class ~= text] {
    background-color: black;
    color: white;
}

div input[class |= text] {
    background-color: black;
    color: white;
}