
body {
    background-color: #121212;
}

.img-box {
    width: 200px;
    height: 200px;
    border: 5px dashed white;
    border-radius: 50%;

    overflow: hidden;

}

.html-img {
    width: 100%;
}